<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <title>Login Failed</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="container">
        <div class="text-center">
            <div><i class="fa fa-warning fa-5x" style="padding-top: 50px"></i></div>
            <h1> Login Unsuccessful </h1>
            <h4> An error occurred while logging in. <a href="http://localhost:4200/">Return to OSF Collections</a></h4>
        </div>
    </body>
</html>